fastapi
uvicorn
supabase
python-dotenv
pydantic[email]
pydantic-settings
asyncpg
psycopg2-binary # For direct PostgreSQL connection
sqlalchemy      # (Optional) For ORM/migration support
alembic
python-jose[cryptography]
aiosmtplib
jinja2
firebase-admin
aiosqlite       # For async SQLite tests
pytest
pytest-asyncio
